#topframe{
background-color:#C4E1FF;
/*background:url(:/qss/topframe.jpeg);*/
border:0px;
padding:0px;
}

#minsize{
background-color:transparent;
padding:0px;
margin:0px;
border:0px;
border-radius:5px;
}

#minsize:hover{
background-color:#09c0fe;
}


#close{
background-color:transparent;
padding:0px;
margin:0px;
border:0px;
border-radius:5px;
}

#close:hover{
background-color:#09c0fe;
}
